
/* Reset default margin dan padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style untuk body dan container */
body {
  
  background-color: black;
  
}

/* Background grid titik */
.background {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-items: center;
  align-items: center;/* Warna latar belakang hitam */
  
  /* Pola titik dengan radial-gradient */
  background-image: 
    radial-gradient(circle at top left, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.5) 51%),
    radial-gradient(circle at top right, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.5) 51%),
    radial-gradient(circle at bottom left, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.5) 51%),
    radial-gradient(circle at bottom right, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.5) 51%);
  background-size: 100% 100%; /* Ukuran latar belakang */
}

/* Teks di tengah */
.center-text {
  color: rgba(255, 255, 255, 0.7); /* Warna teks abu-abu terang */
  font-size: 3rem;
  font-weight: bold;
}
